<h4>Internal server error - al refrescar la página se perderá la información</h4>
<ng-container *ngIf="error">
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">La principal razón de este error es el back-end, por favor perdona a los UI.</p>
    <p>Siguientes pasos</p>
    <ol>
        <li>Abrir las herramientas de desarrollo de tu navegador.</li>
        <li>Validar la solicitud erronea en la pestaña de Red.</li>
        <li>Revisar la URL de la solicitud - ¿está correcta la dirección de lo que solicitas?</li>
        <li>Reproducir el problema en Postman - si se obtiene el mismo error, Angular no es el culpable.</li>
    </ol>
    <p style="font-weight: bold;">A continuación, puedes encontrar la pila de llamadas de error.</p>
    <code class="mt-5" style="background-color: whitesmoke;">
        {{error.details}}    
    </code>
</ng-container>